@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-avega: 'Avega Italic', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@import 'keen-slider/keen-slider.min.css';

@font-face {
  font-family: 'Avega Italic';
  src: url('/fonts/avega-italic.otf') format('opentype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Gotham Bold Italic';
  src: url('/fonts/gotham-bold-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}

.navbar-text:hover {
  font-family: 'Avega Italic', sans-serif;
  background-color: black;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}
.navbar-text:active {
  font-family: 'Avega Italic', sans-serif;
  background-color: black;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

.text-title{
  font-family: 'Avega Italic', sans-serif;
  color: white;
  font-size: 74px;
}